.body{
  min-width:800px;
  margin:0;
  padding:0;
  box-sizing : border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-size: 750px 850px;
  border-radius:20px;
  overflow:hidden;
  background-color: rgb(17, 24, 21);
  position: relative;
}
.left{
  margin-left:10%;

  position:absolute;
  z-index:100;
  color:white;
  top:30%;
  left:5%;
  font-family:tiny5;
  font-size:20px;
}
.tips{
  margin-top:50px;
  width:30px;
  font-size:14px;
  font-family:poppins;
  color:rgba(255, 255, 255, 0.322);
  
}
.right{
  margin-left:10%;
  margin-right:10%;
  position:absolute;
  z-index:100;
  color:white;
  top:30%;
  right:5%;
  font-family:tiny5;
  font-size:20px;
}
.history{
  margin-top:50px;
  width:30px;
  font-size:14px;
  font-family:poppins;
  color:rgba(255, 255, 255, 0.322);
  
}
.calculator{
  width:300px;
  height:600px;
  background-image: url("../images/calculator.png");
  background-size: 750px 850px;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
  /* transform:scale(1.2); */
}
.name{
  display:flex;
  justify-content: flex-start;
  position: absolute;
  top:74px;
  left:40px;
  font-family:tiny5;
  font-size:26px;
  color:rgb(255, 213, 151);
  
  text-shadow: rgba(0, 0, 0, 0.458) -1px 1px 3px;
  background-color: rgba(128, 128, 128, 0);
}
.status{
  display:flex;
  justify-content: flex-start;
  position: absolute;
  top:78px;
  right:40px;
  font-family: poppins;
  font-weight:500;
  font-size:14px;
  color:rgba(255, 213, 151, 0.596);
  background-color: rgba(128, 128, 128, 0);
}
.display{
  display:flex;
  flex-direction: column;
  width:200px;
  margin-top:70px;
}
#display1{
  text-align:end;
  border:none;
  background-color:rgba(0, 0, 0, 0);
  color:rgb(34, 34, 34);
  font-family: orbitron;
  cursor:default;
}
#display2{
  text-align:end;
  border:none;
  font-size:30px;
  background-color:rgba(0, 0, 0, 0);
  color:rgb(34, 34, 34);
  font-family: orbitron;
  cursor:default;
}
#display1:focus, #display2:focus{
  outline:none;
}
.keys{
  display:flex;
  flex-direction: column;
  padding-top:50px;
  gap:10px;
}
.row{
  display:flex;
  justify-content: space-between;
  gap:10px;
}
.numbers{
  width:50px;
  height:50px;
  font-size:18px;
  font-family: poppins;
  font-weight:500;
  color:white;
  border:none;
  border-radius:10px;
  background-color: rgb(85, 194, 179);
  box-shadow: inset rgba(238, 238, 238, 0.54) -2px 2px  8px,
  inset rgba(18, 71, 54, 0.44) 3px -3px 3px,
   rgba(0, 0, 0, 0.3) -4px 6px 8px;
  transition: 0.1s;
}
.numbers:active, .operator-button:active, .all-clear:active, .equals:active{
  box-shadow: inset rgba(238, 238, 238, 0.54) -2px 2px  8px,
  inset rgba(18, 71, 54, 0.54) 3px -3px  3px,
   rgba(36, 36, 36, 0.84) -3px 3px 4px;
}
.operator-button{
  width:50px;
  height:50px;
  font-size:18px;
  color:white;
  font-family: poppins;
  font-weight:500;
  border:none;
  border-radius:10px;
  background-color: rgb(221, 181, 106);
  box-shadow: inset rgba(238, 238, 238, 0.54) -2px 2px  8px,
  inset rgba(18, 71, 54, 0.54) 3px -3px  3px,
   rgba(0, 0, 0, 0.3) -4px 6px 8px;
  transition: 0.1s;
}
.all-clear{
  width:50px;
  height:50px;
  font-size:18px;
  color:white;
  font-family: poppins;
  font-weight:500;
  border:none;
  border-radius:10px;
  background-color: rgb(221, 143, 106);
  box-shadow: inset rgba(238, 238, 238, 0.54) -2px 2px  8px,
  inset rgba(18, 71, 54, 0.54) 3px -3px  3px,
   rgba(0, 0, 0, 0.3) -4px 6px 8px;
  transition: 0.1s;
}
.equals{
  width:50px;
  height:50px;
  font-size:18px;
  color:white;
  font-family: poppins;
  font-weight:500;
  border:none;
  border-radius:10px;
  background-color: rgb(106, 221, 164);
  box-shadow: inset rgba(238, 238, 238, 0.54) -2px 2px  8px,
  inset rgba(18, 71, 54, 0.54) 3px -3px  3px,
   rgba(0, 0, 0, 0.3) -4px 6px 8px;
  transition: 0.1s;
}
#equals{
  flex:2;
}
#toggle{
  flex:1.4;
}